body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-image: linear-gradient(to bottom right, #00F490,   #00BBC9);
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 4.375rem;
}

.card {
    display: flex;
    justify-content: center;
}

.jumbotron {
    background-color: rgba(255, 168, 53, 0);
}

.lead {
    color: white;
    font-size: 2.23rem;
}